.topCategory {
  margin: 30px 0;
  padding: 20px 0;
}
.categoryCaption {
  font-weight: 600;
  font-size: 18px;
}
.categoryWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryItem {
  height: 210px;
  flex: 1;
  border: 1px solid #bfbfbf;
  margin: 10px;
  cursor: pointer;
}
.categoryItem:hover {
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  cursor: pointer;
}
.categoryItem img {
  width: 100%;
  height: 170px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryItem label {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
}
